rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Add default deny for other paths until needed
    match /{document=**} {
      allow read: if true; // Just for now since it looks like we need to read public programs? Oh wait, let's keep it open for programs.
      allow write: if request.auth != null;
    }
  }
}
